<div class="member ">
    <h2 class="title">Member</h2>
    <hr/>
    <div class="container-fluid">
        <div class="row d-flex justify-content-between">
            <div class="col-md-3">
                <div class="member-card d-flex flex-column align-items-center">
                    <img src="assets/images/member.png" alt="Member 1" class="member-image">
                    <div class="member-details">
                        <p class="member-name">Nguyễn Bùi Bá Quốc</p>
                        <div class="social-icons">
                            <a href="#" class="social-icon"><img src="assets/images/facebook-mv.png" alt="Facebook"/></a>
                            <a href="#" class="social-icon"><img src="assets/images/instagram-mv.png" alt="Facebook"/></a>
                            <a href="#" class="social-icon"><img src="assets/images/twitter-mv.png" alt="Facebook"/></a>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-md-3">
                <div class="member-card d-flex flex-column align-items-center">
                    <img src="assets/images/member.png" alt="Member 1" class="member-image">
                    <div class="member-details">
                        <p class="member-name">Nguyễn Thị Thu Hằng</p>
                        <div class="social-icons">
                            <a href="#" class="social-icon"><img src="assets/images/facebook-mv.png" alt="Facebook"/></a>
                            <a href="#" class="social-icon"><img src="assets/images/instagram-mv.png" alt="Facebook"/></a>
                            <a href="#" class="social-icon"><img src="assets/images/twitter-mv.png" alt="Facebook"/></a>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-md-3">
                <div class="member-card d-flex flex-column align-items-center">
                    <img src="assets/images/member.png" alt="Member 1" class="member-image">
                    <div class="member-details">
                        <p class="member-name">An Đoàn Kim Khuê</p>
                        <div class="social-icons">
                            <a href="#" class="social-icon"><img src="assets/images/facebook-mv.png" alt="Facebook"/></a>
                            <a href="#" class="social-icon"><img src="assets/images/instagram-mv.png" alt="Facebook"/></a>
                            <a href="#" class="social-icon"><img src="assets/images/twitter-mv.png" alt="Facebook"/></a>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-md-3">
                <div class="member-card d-flex flex-column align-items-center">
                    <img src="assets/images/member.png" alt="Member 1" class="member-image">
                    <div class="member-details">
                        <p class="member-name">Lê Biên Thùy</p>
                        <div class="social-icons">
                            <a href="#" class="social-icon"><img src="assets/images/facebook-mv.png" alt="Facebook"/></a>
                            <a href="#" class="social-icon"><img src="assets/images/instagram-mv.png" alt="Facebook"/></a>
                            <a href="#" class="social-icon"><img src="assets/images/twitter-mv.png" alt="Facebook"/></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  